<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
  integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
<footer class="footer">
  <div class="container">
    <p>
      Do you want to be part of <br />
      our mission?
    </p>
    <button class="btn">
      Become an investor &nbsp;
      <div class="circle"><i class="fa fa-arrow-right"></i></div>
    </button>
  </div>
  <div class="line">
    <hr />
  </div>

  <div class="section">
    <div class="row">
      <div class="non-mobile">
        <h3>Headquaters</h3>
        <ul>
          <li>Promenade, 19 General</li>
          <li>Mathenge Rd</li>
          <li>Nairobi, Kenya</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="non-mobile">
        <h3>Contact</h3>
        <ul>
          <li>T +254 78 92 27 755</li>
          <li>E info@elewa.co.ke</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3>Activities</h3>
      <ul>
        <li>About us</li>
        <li>Social impact</li>
        <li>Invest</li>
        <li>News</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="row">
      <div class="non-mobile">
        <h3>Brands</h3>
        <ul>
          <li>Elewa</li>
          <li>Italanta</li>
          <li>Venture labs</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3>Privacy</h3>
      <ul>
        <li>Terms and conditions</li>
        <li>Cookie preferences</li>
      </ul>
    </div>
  </div>
  <div class="elewa-text">
    <img
      src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690297/elewa-group-website/Icons/SVG/_Logo/Logo_White_arvoyx.svg"
      alt="">
    <div class="social-icons">
      <span class="icon-container">
        <a href="#!" role="button">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
      </span>

      <span class="icon-container">
        <a href="#!" role="button">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </span>

      <span class="icon-container">
        <a href="#!" role="button">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </span>
    </div>
  </div>
</footer>