 <!-- <p class="text">footer works!</p>  -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<footer class="footer">
    <div class="container">
        <p>do you want to be part of <br> our mission?</p>
        <button class="btn">Become  an investor. Like you </button>
    </div>
    <div class="line">
        <hr>
    </div>
    
    <div class="section">
        <div class="row">
            <h3>Headquaters</h3>
                <ul class="item"> 
                    <li>Promenade, 19 General</li>
                    <li>Mathenge Rd</li>
                    <li>Nairobi, Kenya</li>
                </ul>
        </div>
        <div class="row">
            <h3>Contact</h3>
                <ul>
                    <li>T +254 78 92 27 755</li>
                    <li>E info@elewa.co.ke</li>
                </ul>
        </div>
        <div class="row">
            <h3>Navigation</h3>
                <ul>
                    <li>Projects</li>
                <li>Company</li>
                <li>News</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="row">
            <h3>Brands</h3>
                <ul>
                    <li>Elewa</li>
                    <li>Italanta</li>
                    <li>Venture labs</li>
                </ul>
        </div>
        <div class="row">
            <h3>Privacy</h3>
                <ul>
                    <li>Terms and conditions</li>
                    <li>Cookie preferences</li>
                </ul>
        </div>
    </div>
    <div class="social-icons">
        <div class="elewa-text">
            <h2>elewa group</h2>
        </div>
        <span class="icon-container">
            <a style="color: white" href="#!" role="button">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
        </span>
    
        <span class="icon-container">
            <a style="color: #fff;" href="#!" role="button">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <!-- <i class="fab fa-instagram"></i> -->
        </span>
    
        <span class="icon-container">
            <a style="color: white;" href="#!" role="button">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <!-- <i class="fab fa-linkedin-in"></i> -->
        </span>
    </div>
</footer>