.footer {
  padding-top: 60px;
  background-color: var(--elewa-group-website-color-bg);
  color: var(--elewa-group-website-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 600px;
}
.container {
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 50px;
  border: var(--elewa-group-website-color) solid 2px;
  border-color: var(--elewa-group-website-color);
  border-radius: 50px;
  background-color: var(--elewa-group-website-color-bg);
  color: var(--elewa-group-website-color);
  font-family: var(--elewa-group-website-dmsans-regular);
  margin-bottom: 60px;
  padding: 15px 20px;
}
.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--elewa-group-website-color-bg);
  background-color: var(--elewa-group-website-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle i {
  font-size: 20px;
}

.line {
  margin-left: 8%;
  margin-right: 7%;
  margin-bottom: -15px;
}
ul {
  list-style: none;
}
.section {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
}
.item {
  text-align: left;
}

.row {
  // display: block;
  justify-content: space-between;
  // margin-right: 500px;
}
h3 {
  font-size: var(--elewa-group-website-font-size-title);
  font-family: var(--elewa-group-website-dmsans-medium);
  margin-bottom: 25px;
}
.row ul{
    padding: 0;
}
.row ul li {
  display: block;
  margin-bottom: 5px;
  font-family: var(--elewa-group-website-dmsans-regular);
  font-size: var(--elewa-group-website-font-size-description);
}
.social-icons {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 100px;
}
.social-icons i {
  font-size: 20px;
  margin-right: 10px;
}
.icon-container {
  margin-right: 1rem;
}
.icon-container a {
  background-color: var(--elewa-group-website-color-bg);
  color: var(--elewa-group-website-color);
}
// .only-icons {
//   display: flex;
//   width: 40%;
//   float: right;
// }
.elewa-text {
  margin-left: 7%;
  float: left;
  
}
p {
    font-size: 0.9em;
    // text-overflow: ellipsis;
    white-space: nowrap;
    //overflow: hidden;
}

@media (max-width: 767px) {
    // .mobile-text {
    //     display: block;
    //     margin-top: 1rem;
    // }

    .non-mobile {
         display: none;
     }
  .elewa-text {
    margin-left: auto;
  }
  .footer {
    padding: 10px;
  }
  .line {
    display: none;
  }
 .section {
  padding: 0;
 }
  .social-icons {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
}
