// convs-mgric Variables and Theming. For more info, please see:
// http://convs-mgricframework.com/docs/theming/
/** convs-mgric CSS Variables **/

:root {

  /** primary **/
  --elewa-group-website-color-primary: #000000;

  /** Font family **/
  --elewa-group-website-dmsans-bold: 'DMSans-Bold';
  --elewa-group-website-dmsans-bold-italic: 'DMSans-Bold-Italic';
  --elewa-group-website-dmsans-italic: 'DMSans-ITalic';
  --elewa-group-website-dmsans-medium: 'DMSans-Medium';
  --elewa-group-website-dmsans-medium-italic: 'DMSans-Medium-Italic';
  --elewa-group-website-dmsans-regular: 'DMSans-Regular';

  --elewa-group-website-card-bgColor: #f6f6f6;
  --elewa-group-website-card-font-size: 13px;
  --elewa-group-website-card-header-font-size: 22px;
  --elewa-group-website-card-sub-title-font-size: 13px;
}