// convs-mgric Variables and Theming. For more info, please see:
// http://convs-mgricframework.com/docs/theming/
/** convs-mgric CSS Variables **/

:root {

  /** primary **/
  --elewa-group-website-color-primary: #000000;

  /** Font family **/
  --elewa-group-website-dmsans-bold: 'DMSans-Bold';
  --elewa-group-website-dmsans-bold-italic: 'DMSans-Bold-Italic';
  --elewa-group-website-dmsans-italic: 'DMSans-ITalic';
  --elewa-group-website-dmsans-medium: 'DMSans-Medium';
  --elewa-group-website-dmsans-medium-italic: 'DMSans-Medium-Italic';
  --elewa-group-website-dmsans-regular: 'DMSans-Regular';

  // reusable card component
  --elewa-group-website-color-card: #f4f4f4;
  --elewa-group-website-color-card-item1: rgba(0,0,0,2);
  --elewa-group-website-color-card-item2: rgba(0,0,0,0);
  --elewa-group-website-color-card-item3: rgba(0,0,0,1);
  --elewa-group-website-color-card-item4: rgba(0,0,0,0);

  --elewa-group-website-font-weight-subtitle: 300;
  --elewa-group-website-font-weight-title: 500;
  --elewa-group-website-font-weight-title-medium: 600;
  --elewa-group-website-font-size-title: 30px;
  --elewa-group-website-font-size-title-medium: 20px;
  --elewa-group-website-font-size-description: 16px;
  --elewa-group-website-font-size-description-medium: 12px;

  // hero section
  --elewa-group-website-color-bg: #000000;
  --elewa-group-website-color: #ffffff;
  --elewa-group-website-color-hero-image1: rgba(0,0,0,4);
  --elewa-group-website-color-hero-image2: rgba(0,0,0,.1);
  --elewa-group-website-color-hero-image3: rgba(0,0,0,4);
  --elewa-group-website-color-hero-image4: rgba(0,0,0,.1);
  --elewa-group-website-font-size-heading: 45px;
  --elewa-group-website-font-size-heading-medium: 15px;
  --elewa-group-website-font-size-subheading: 20px;
  --elewa-group-website-font-size-subheading-medium: 13px;
  --elewa-group-website-font-size-title: 15px;
  --elewa-group-website-font-size-description: 13px;
  --elewa-group-website-font-size-description-medium: 12px;

  // nav header
  --elewa-group-website-color-white: #fff;
  --elewa-group-website-header-background-color: transparent;
  --elewa-group-website-nav-menu-background-color: black;
  --elewa-group-website-navbars-background-color-grey: grey;
  --elewa-group-website-navbars-link-hover-color: black;
  --elewa-group-website-font-size-elewa-text: 28px;
  --elewa-group-website-font-size-elewa-text-medium: 24px;
  --elewa-group-website-font-size-nav-link: small;
  --elewa-group-website-font-size-nav-link-medium: medium;


  // team and members
  --elewa-group-website-team-and-members-background-color: black;
  --elewa-group-website-team-and-members-color-white: #fff;
  --elewa-group-website-team-and-members-color-grey: grey;
  --elewa-group-website-team-and-members-h1-font-size: 34px;
  --elewa-group-website-team-and-members-h1-font-size-responsive: 20px;
  --elewa-group-website-team-and-members-name-font-size: 24px;
  --elewa-group-website-team-and-members-title-font-size: 15px;
  --elewa-group-website-team-and-members-button-area-font-weight: 300;

}
